<header>
  <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Live UV Index</span>
  </nav>
</header>

<br>

<div class="container">
  <div class="card-deck">
    <div class="card">
      <div class="card-header">
        <a href="https://openweathermap.org/" target="_blank">Open Weather Map Data</a>
      </div>
      <div class="card-body">
        <h5 class="card-title">Current Data</h5>
        <p>Lat: {{uvIndexOpenWeatherMap?.lat}} </p>
        <p>Long: {{uvIndexOpenWeatherMap?.lon}} </p>
        <p>Date ISO: {{uvIndexOpenWeatherMap?.date_iso | date}} </p>
        <p>UV Index Value: {{uvIndexOpenWeatherMap?.value}} </p>
      </div>
      <div class="card-footer">
        <button class="btn btn-lg btn-primary" (click)="refresh()">Refresh</button>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a href="https://www.openuv.io/" target="_blank">Open UV Data</a>
      </div>      
      <div class="card-body">
        <h5 class="card-title">Current Data</h5>
        <p>UV Time: {{uvIndexOpenUV?.result.uv_time | date:'longTime'}} </p>
        <p>UV Max: {{uvIndexOpenUV?.result.uv_max}} </p>
        <p>UV Max Time: {{uvIndexOpenUV?.result?.uv_max_time | date:'longTime'}} </p>
        <p>Ozone: {{uvIndexOpenUV?.result.ozone}} </p>
        <p>Ozone Time: {{uvIndexOpenUV?.result.ozone_time | date:'longTime'}} </p>
      </div>
      <div class="card-footer">
        <button class="btn btn-lg btn-primary" (click)="refresh()">Refresh</button>
      </div>
    </div>
  </div>
  <div>
  </div>
  <br>
  <footer>
    <div>
      <h3>
        Balram Chavan
      </h3>
    </div>
    <div class="row">
      <div class="col-md-1">
        <a class="lead" href="https://www.linkedin.com/in/balram-chavan-957511116/" target="_blank">LinkedIn</a>
      </div>
      <div class="col-md-2">
        <a class="lead" href="https://github.com/ultrasonicsoft" target="_blank">GitHub</a>
      </div>
    </div>
  </footer>
</div>