<div class="container">
  <div style="text-align:center">
    <h1>
      UV Index Finder
    </h1>
  </div>
  <br>
  <br>
  <div>
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <button class="btn btn-primary" (click)="findMe()">Show UV Index at my location</button>
          <button class="btn btn-primary" (click)="refresh()">Refresh</button>
          <br>
          <br>

          <h5>
            <a href="https://openweathermap.org/" target="_blank">Open Weather Map's</a>: {{uvIndexOpenWeatherMap}}
          </h5>
          <h5>
            <a href="https://www.openuv.io/" target="_blank">Open UV's</a>: {{uvIndexOpenWeatherMap}}
          </h5>
        </div>
      </div>
    </div>
  </div>
  <br>
  <footer>
    <div>
      <h3>
        Balram Chavan
      </h3>
    </div>
    <div class="row">
      <div class="col-md-1">
        <a class="lead" href="https://www.linkedin.com/in/balram-chavan-957511116/" target="_blank">LinkedIn</a>
      </div>
      <div class="col-md-2">
        <a class="lead" href="https://github.com/ultrasonicsoft" target="_blank">GitHub</a>
      </div>
    </div>
  </footer>
</div>